.container {
  width: 325px;
}

.row {
  display: table;
  margin-bottom: 5px;
  width: 100%;
}

.imgContainer {
  float: left;
  display: block;
  width: 22%;
  margin-right: 5px;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.nameContainer {
  float: right;
  width: 76%;
  text-align: left;
}

.nameContainer p {
  font-size: 10pt;
}

